.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.h-32 {
    height: 32px;
}

.vertical-center {
    margin: auto 0;
}

a:hover {
    color: lightskyblue;
    cursor: pointer;
    transition: 0.2s;
}